// @import '../node_modules/reset-css/sass/reset';
// @import '../node_modules/susy/sass/susy';
// @import '../node_modules/susy/sass/plugins/svg-grid';
$headerHeight: 60px;
$buttonAreaHeight: 45px;

header {
  nav {
    height: $headerHeight;
    background-color: #55cdff;
  }
}
main {
  .row.body {
    // height: calc(100vh - #{$headerHeight});
  }
  textarea.form-control {
    height: calc(100vh - #{($headerHeight + $buttonAreaHeight)});
  }
  .buttonArea {
    height: $buttonAreaHeight;
  }
  #attr_tarea1 {
    height: calc(50vh - #{($headerHeight + $buttonAreaHeight) / 2});
  }
  #attr_tarea2 {
    height: calc(50vh - #{($headerHeight + $buttonAreaHeight) / 2});
    .col {
      flex: 0;
    }
  }
}
// $pad-1150: 1150px;
// $pad-1000: 1000px;
// $pad-950: 950px;
// $pad-900: 900px;
// $pad-768: 768px;
// $mobile-640: 640px;
// $mobile-468: 468px;
// $mobile-360: 360px;

// $susy: (
//   'columns': susy-repeat(14),
//   'gutters': 0,
//   'spread': 'wide',
//   'container-spread': 'wide',
//   'svg-grid-colors': hsla(210, 100%, 50%, 0.3) hsla(210, 100%, 75%, 0.3),
// );

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-weight: normal;
// }
// a {
//   text-decoration: none;
// }
// ul,
// ol {
//   lost-utility: clearfix;
// }
// *:focus {
//   outline: 0;
// }
// input[type='submit'],
// button,
// input[type='button'] {
//   -webkit-apperance: none;
//   cursor: pointer;
// }
// input[type='number']::-webkit-inner-spin-button,
// input[type='number']::-webkit-outer-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }
// img {
//   image-rendering: -moz-crisp-edges;
//   image-rendering: -o-crisp-edges;
//   image-rendering: -webkit-optimize-contrast;
//   image-rendering: optimize-contrast;
//   -ms-interpolation-mode: nearest-neighbor;
// }
// html,
// body {
//   //   height: 100%;
//   background-color: #55cdff;
// }
// h3 {
//   color: #ffffff;
//   font-size: responsive 22px 32px;
// }
// .logo {
//   position: absolute;
//   top: 10px;
// }
// .header {
//   height: 60px;
// }
// .body {
//   // height: calc(100% - 20px);
//   textarea {
//     height: calc(100% - 30px);
//   }
//   .bodyCol {
//     height: 100%;
//     &:first-child {
//       textarea {
//         height: calc(100% - 230px);
//       }
//     }
//   }
// }
// .container-fluid {
//   padding-top: 80px;
//   height: 100%;
// }
// div,
// form {
//   height: 100%;
//   position: relative;
// }
// .buttonArea {
//   height: auto;
//   position: absolute;
//   top: 0;
//   left: span(0.5);
//   button {
//     &:first-child {
//       margin-right: 10px;
//     }
//   }
// }
// h3 {
//   margin-bottom: 40px;
// }
// .noNeed {
//   background: #ffffff;
//   border-radius: 4px;
//   padding: span(0.5);
//   height: 170px;
//   margin-top: 30px;
//   h3 {
//     color: #55cdff;
//   }
// }
